/* Styles CSS: which styles the HTML elements. */

/* Following Box model throughout */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Normalize CSS Adds a top margin, so therefore resetting it. */
h1,
h2,
h3 {
  margin-top: 0px;
}

body {
  /* Using Roboto as the chief font folled by comma seprated list of fonts which should be picked up when the preceeding fonts are not available. */
  font-family: "Roboto", sans-serif, "Arial";
  text-rendering: optimizeLegibility;
  font-size: 20px;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}
/*  ============================== Source: Responsive Grid System =============================================== */

/*  SECTIONS  ============================================================================= */

.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  GROUPING  ============================================================================= */

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

.col:first-child {
  margin-left: 0;
} /* all browsers except IE6 and lower */

/*  GRID OF THREE   ============================================================================= */

.span_3_of_3 {
  width: 100%;
}

.span_2_of_3 {
  width: 66.13%;
}

.span_1_of_3 {
  width: 32.26%;
}

/*  ============================== Source: Responsive Grid System =============================================== */

/*  ============================== HEADER =============================================== */

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}
.logo {
  width: 100px;
  height: auto;
}

.featuredWork {
  margin-top: 1.5em;
}

.hero-content {
  margin-top: 20px;
}

.hero-image {
  width: 100%;
  height: auto;
}

.myInfo {
  display: flex;
  flex-direction: column;
}

.projectThumbnail {
  width: 100%;
  height: auto;
}

.projectDescription {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}

.featuredProject {
  text-align: center;
  overflow: hidden;
}

.project-cta {
  font-size: 70%;
  display: inline-block;
  margin-top: 1em;
  word-break: break-all;
}
